<!DOCTYPE html>
<html>
    <head>
        <title>Chat App</title>
        <link rel="icon" href="img/favicon.png">
        <link rel="stylesheet" href="css/styles.min.css">

        </head>
        <body>
            <div class="chat">
                <div class="chat__sidebar">

                </div>
                <div class="chat__main">
                        <div id="messages" class="chat__messages"> </div>
                    <div class="compose">
                            <form id="Message">
                                    <input placeholder="Type your message" name="message"></input>
                                    <button>Submit</button>
                                </form>
                                <button id="submit-location">Submit Location</button>
                    </div>
                </div>
            </div>
            <script id="message-template" type="text/html">
                <div class="message">
                    <p>
                        <span class="message__name">Username</span>
                        <span class="message__meta">{{createdAt}}</span>
                    </p>
                        <p>{{message}}</p>
                    </div>
                </script>

                <script id="message-location" type="text/html">
                    <div class="message">
                            <p>
                                    <span class="message__name">Username</span>
                                    <span class="message__meta">{{createdAt}}</span>
                                </p>
                      <p><a href="{{url}}" target="_blank"> My current location</a></p>
                        </div>
                    </script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
            <script src="/socket.io/socket.io.js"></script>
            <script src="/js/chat.js"></script>
        </body>



</html> 